<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Marketing Science Content" />
  <meta name="author" content="Carlos Eduardo Trujillo Agostini" />
  <title>{{ page.title }}</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Custom Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SRLJ74PHLB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-SRLJ74PHLB');
  </script>
  <!-- End Google Tag (gtag.js) -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NL6GRRJ3');</script>
  <!-- End Google Tag Manager -->
</head>

  <body class="d-flex flex-column h-100 bg-light">
      <main class="flex-shrink-0">
          <!-- Navigation-->
          <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
              <div class="container px-5">
                  <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">Marketing Science Blog</span></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                          <li class="nav-item"><a class="nav-link" href="/about">Resume</a></li>
                          <li class="nav-item"><a class="nav-link" href="/articles">Articles</a></li>
                          <li class="nav-item"><a class="nav-link" href="/talks">Talks</a></li>
                      </ul>
                  </div>
              </div>
          </nav>
          <!-- CONTENT -->
          {{ content }}
        </main>
          <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy;cetagostini</div></div>
                    <div class="col-auto">
                      <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                      <span class="mx-1">&middot;</span>
                      <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                      <span class="mx-1">&middot;</span>
                      <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                      <span class="mx-1">&middot;</span>
                      <a class="text-gradient" href="#!"><i class="bi bi-medium"></i></a>
                    </div>
                    <div class="col-auto">
                        <a class="small" href="#!">Privacy</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Terms</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
